.intro {
    text-align: center;
    font-family: "Courier New", serif;
}

body {
    background-color: aliceblue;
}

.grid {
    display: grid;
    grid-template-columns: 100%;
}

@media (min-width: 600px) {
    .grid {
        grid-template-columns: 50% 50%;
    }
}

@media (min-width: 900px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.container {
    max-width: 840px;
    margin: 0 auto;
}

.about-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: "Courier New", serif;
}

.favoritspel, .favoritfilm {
    text-align: center;
    text-decoration: none
}

.spel-lista {
    list-style: none;
    padding: 0;
}

@media (max-width: 480px) {
    .about-grid {
        grid-template-columns: 100%;
    }
}

.projects-heading {
    text-align: center;
    font-family: "Courier New", serif;
}

.projects-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.projects-image {
    justify-self: center;
    padding: 4%;
}

img {
    border-radius: 20%;
    size: auto;
}

@media (max-width: 650px) {
    .projects-grid {
        grid-template-columns: 100%;
    }
}

.profile-picture {
    border-radius: 50%;
    width: 25%;
    box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16);
    transition: all ease-in-out .2s;
}

.profile-picture:hover {
    box-shadow: 0 8px 12px 0 rgba(34, 60, 80, .16);
}

form input, textarea {
    padding: 5px;
    border-radius: 5px;
    width: 240px;
}

form {
    width: 250px;
    margin: 0 auto;
}

form input[type="submit"] {
    width: 250px;
}

.submit-button-wrapper {
    margin: 20px 0;
}

.links-and-contact {
    display: grid;
    grid-template-columns: 30% 70%;
    font-family: "Courier New", serif;
}

.links {
    justify-self: right;
    font-family: "Courier New", serif;
}

.links-list {
    list-style: none;
    padding: 0;
}

@media (max-width: 650px) {
    .links-and-contact {
        grid-template-columns: 100%;
    }
}

.contact {
    font-family: "Courier New", serif;
}
