* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
h1, h2, h3, p {
    color: white;
}
img {
    max-width: 7em;
}
#cart {
    max-width: 1.5em;
}
.topnav {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("img/gothic.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding: 2em;
}

.topnav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.topnav a:hover {
    background-color: rgba(255, 255, 255, .3)
}

.searchbox {
    margin-top: .75em;
    margin-left: 2em;
}

.cartbutton {
    margin-top: .75em;
    margin-left: 2em;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    right: 0;
    display: none;
    position: absolute;
    background-color: black;
    width: 10em;
    text-align: center;
}
.show {
    display: block;
}

.store-name {
    text-align: center;
    margin-top: 1em;
    font-size: 4em;
    font-weight: normal;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.card {
    border: none;
    max-width: 200px;
    padding: 1em;
}

footer {
    position: relative;
    margin-bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em;
}
