* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

img {
    max-width: 10em;
}

#cart {
    max-width: 1.5em;
}

.topnav {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("img/gothic.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding: 2em;
}

.topnav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.topnav a:hover {
    background-color: rgba(255, 255, 255, .3)
}

.searchbox {
    margin-top: .75em;
    margin-left: 2em;
}

.cartbutton {
    margin: 1em;
    color: black;
    background-color: white;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}
.cartbutton:hover {
    background-color: whitesmoke;
}

.header {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("img/gothic.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.store-name {
    text-align: center;
    margin-top: 1em;
    font-size: 4em;
    font-weight: normal;
    color: white;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    color: white;
    background-color: rgba(255, 255, 255, .3)
}
.show {
    display: block;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 35%;
}

.cart-title {
    color: lightgray;
    margin-left: .5em;
    font-size: .5em;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    margin-right: 1.5em;
    padding-bottom: .5em;
    margin-top: .5em;
}

.cart-price {
    width: 25%;
}

.cart-quantity {
    width: 35%;
}

.cart-quantity-input {
    height: 2.7em;
    width: 4em;
    border-radius: .5em;
    border: none;
    background-color: white;
    color: black;
    padding: 0;
    text-align: center;
    font-size: .25em;
    margin-right: 1em;
}

.cart-total {
    text-align: end;
    margin-top: 1em;
    margin-right: 1em;
}

.cart-total-title {
    font-weight: bold;
    font-size: .5em;
    color: black;
    margin-right: 1.5em;
}

.cart-total-price {
    color: black;
    font-size: 1em;
}

.cart-row:last-child {
    border-bottom: 1px solid lightgray;
}

.cart-row:last-child .cart-column {
    border: none;
}

.btn-purchase {
    color: black;
    background-color: white;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    font-family: "Times New Roman", sans-serif;
    padding: 1em;
    margin-left: 1em;
}

.btn-purchase:hover {
    background-color: whitesmoke;
}

.store-name {
    text-align: center;
    font-size: 4em;
    font-weight: normal;
    color: white;
}
.store-about {
    font-style: italic;
    margin-left: 2em;
}

.container {
    max-width: 100%;
    margin: 0;
    padding: 1.5em;
}

.store-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.store-item {
    margin: 2em;
}

.item-title {
    display: flex;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-bottom: 15px;
}

.item-image {
    width: 20em;
}

.item-details {
    display: flex;
    align-items: center;
    padding: 1em;
}

.item-price {
    color: black;
}

.btn-buy {
    color: black;
    background-color: white;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    font-family: "Times New Roman", sans-serif;
    padding: 1em;
    margin-left: 1em;
}

.btn-buy:hover {
    background-color: whitesmoke;
}

.btn-remove {
    color: white;
    background-color: darkred;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    padding: 1em;
}

.btn-remove:hover {
    background-color: lightpink;
}

footer {
    position: relative;
    margin-bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em;
}
