* {
    box-sizing: border-box;
}

body {
    margin: 4em;
    font-family: "Courier New", serif;
}
/*Index sidan*/
.index-image {
    background-image: url("../IMG/skog.JPG");
    background-color: white;
    height: 50em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.index-text h1 {
    left: 0;
    position:absolute;
    text-align:center;
    top: 20%;
    width: 100%;
    font-size: 2em;
    letter-spacing: .2em;
    color: white;
}

.index-text p {
    left: 0;
    position:absolute;
    text-align:center;
    top: 35%;
    width: 100%;
    color: white;
}

.index-btn {
    left: 0;
    position:absolute;
    text-align:center;
    top: 45%;
    width: 100%;
}

/*---------------*/