* {
    box-sizing: border-box;
}

body {
    margin: 2em;
    font-family: "Courier New", serif;
}

h1 {
    color: darkgoldenrod;
    text-align: left;
}

h2, h3, h4, h5, h6 {
    color: darkgoldenrod;
    text-align: center;
}


/*Index sidan
.index-image {
    background-image: url("skog.JPG");
    background-color: white;
    height: 35em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.index-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

button:link, button:visited {
    background-color: white;
    color: darkgoldenrod;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button:hover, button:active {
    background-color: goldenrod;
}
/*---------------*/


header {
    color: darkgoldenrod;
    padding: 2em;
    text-align: left;
}


table, td {
    border: .5em solid white;
    border-collapse: collapse;
    margin: 2em;
}

td {
    background-color: darkgoldenrod;
    color: white;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.about-me .about-text {
    flex: 1;
    padding: 2em;
}

.about-image {
    max-width: 50%;
}

/*@media (max-width: 700px) {
    .about-text, .about-image {
        flex: 100%;
    }
}*/

.container {
    display: flex;
    justify-items: flex-start;
}

.container img {
    max-width: 50%;
}

.comment {
    width: 40%;
    height: 100px;
    padding: 1em;
    background-color: darkgoldenrod;
    color: white;
    margin: 2em;
}

input {
    display: block;
    margin: 2em;
}

/* img {
    width: 300px;
    margin: 10px;
    transition: 0.1s;
}

img:hover {
    transform: scale(1.1);
}*/

iframe {
    border: 1px darkgoldenrod solid;
    width: 100%;
    height: 300px;

}

